.centered-caption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.destination-img {
  position: relative;
  overflow: hidden;
}

.destination-img img {
  transition: opacity 0.3s ease;
}

.destination-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Optional */
  background: rgba(0, 0, 0, 0.4); /* Optional: darken effect */
}

.destination-img:hover img {
  opacity: 0.6;
}

.destination-img:hover .destination-overlay {
  opacity: 1;
}
